/* Styles go here */

/* .bg-color{
    background-color: #bb763d;
} */

@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');


.fixed-height{
    height: 420px;
}

.overflow {
    overflow-x: hidden;
    overflow-y: hidden;
}