/* import font */
@import "https://fonts.googleapis.com/css2?family=Viga&display=swap";


.content-wrapper{
  background: #f4f6f9;
}

/* Navbar depan*/
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 6px 12px;
}
.navbar-brand {
  font-family: Viga, Robotto;
  font-size: 32px;
}
.navbar-link {
  font-family: Viga, Robotto;
  font-size: 25px;
}
.nav-link:hover {
  color: #212529;
  text-decoration: none;
}

.navbar-brand, .nav-link {
  color: #ffffff !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Sidebar Admin aka */
.nav-link .active {
  border-color: #d07428;
    color: #fff;
}


/* Jumbotron */
.jumbotron {
  background-image: url(../../images/sapi-gank.jpg);
  background-size: cover;
  height: 640px;
  text-align: center;
}

.jumbotron .display-4 {
  color: white;
  margin-top: 150px;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 62px;
}

.jumbotron .lead {
  color: white;
  text-align: center;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 40px;
  margin-bottom: 30px;
}

/* Utility */
.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.tombol {
  text-transform: uppercase;
  border-radius: 15px;
}
.bg-color {
  background-color: #160f01e0 ;
}

.btn-color {
  color: #fff;
  background-color: #a15905af;
  border-color:#a15905af;
}

.img-logo{
  position: center;
  width: 200px;
  height: auto;
}

.isi-beranda{
  margin-top: 25px;
}

.logo-beranda{
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  
}

.teks-beranda{
  margin-top: 50px;
  width: 100%;
}



.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

}


/* tablet Version */
@media (min-width: 992px) {
  .img-logo{
    margin-left: 200px;
    }

  .nav-link {
    text-transform: uppercase;
    margin-right: 15px;
  }
  
  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #a15905af;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
}

/* Dekstop Version */
@media (min-width: 1200px) { 


  .img-logo{
  margin-left: 300px;
  }

}

